
body {
    background-color: var(--color-backgraund-section);
    color: var(--color-black);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    margin: 0 auto;
    padding: 0 auto;
    ;
  }
  
